@charset "UTF-8";

/* 메인 태블릿 */

body {
  min-width: 640px;
}


/* 헤더 */

header {
  width: 100%;
  height: 80px;
  padding: 0px 50px;
}

head .logo {
  font-size: 25px;
  line-height: 150%;
  /* 37.5px */
  letter-spacing: -0.45px;
}

header .menu {
  gap: 50px;
}

/* 메인 */

.section01 {
  padding: 170px 50px 80px 50px;
}

.section01 .title {
  display: flex;
  align-self: stretch;
}

.section01 .title h2 {
  align-self: stretch;
  text-align: center;
  /* padding: 0px 17%; */
}


.section01 .search {
  width: 85%;
}


.section01 .search form {
  width: 100%;
}

.section02 .map_view {
  height: 700px;
}

.section03 {
  justify-content: center;
  gap: 40px;
  align-self: stretch;
}

.section03 .inner, .section04 .inner {
  min-width: 0;
}

.section03 .title, .section04 .title {
  padding: 0 8.5%;
}

.section03 .maincontent {
  padding: 0 8.5%;
  height: 800px;
  gap: 100px;
  margin-right: 78px;
}

.section03 .swiper-pagination {
  transform: translateX(-90%);
}
.section03 .button {
  transform: translateX(60px);
}

.section04 {
  padding: 10px 0px 50px 0px;
  align-self: stretch;
}
.section04 .title {
  color: brown;
}


.section04 .maincontent {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 0 8.5%;
}

.section04 .maincontent .swiper-slide {
  width: 344px;
  border-radius: 30px;
}

.section04 .maincontent .swiper-slide .textbox {
  padding: 32px 30px;
}

.section04 .maincontent .swiper-slide .textbox .top span {
  font-size: 13px;
  letter-spacing: -0.234px;
}

.section04 .maincontent .swiper-slide .textbox .top h3 {
  font-size: 30px;
  width: 100%;
  letter-spacing: -0.54px;
}

.section04 .maincontent .swiper-slide .textbox .top .date,
.section04 .maincontent .swiper-slide .textbox .bottom,
.section04 .maincontent .swiper-slide.bg_img .textbox .top .date {
  font-size: 13px;
  letter-spacing: -0.234px;
  width: 100%;
}

.section04 .maincontent .swiper-slide .textbox .bottom,
.section04 .maincontent .swiper-slide.bg_img .textbox .bottom {
  display: flex;
  align-items: center;
  gap: 25px;
  align-self: stretch;
}

.section04 .maincontent .swiper-slide.bg_img {
  width: 344px;
}

.section04 .maincontent .swiper-slide.bg_img .textbox {
  padding: 32px 30px;
  gap: 240px;
}

.section04 .maincontent .swiper-slide.bg_img .textbox .top h3 {
  font-size: 30px;
  letter-spacing: -0.54px;
}

.section04 .maincontent .swiper-slide .textbox .bottom div:first-child {
  gap: 10px;
}


/* 푸터 */

footer .social {
  display: flex;
  align-items: flex-start;
}

footer .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer .notice a::after {
  right: -24px;
}