@charset "UTF-8";

/* 폰트 추가 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #473F3F;
  background: #F6F6F6;
}

body {
  min-width: 1024px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.864px;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.288px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  float: left;
}

/* 헤더 */

header {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 0px 100px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  background: #F6F6F6;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}

header .logo {
  width: 102px;
  height: 41px;
  color: #009882;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.54px;
}

header .menu {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 60px;
}

header .menu a:nth-child(1):hover,
header .menu a:nth-child(2):hover {
  color: #009882;
}

header .menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: relative;
}

header .menu_profile {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 35px;
  background: #E9E9E9;

}

header .fa-face-meh {
  position: relative;
  top: 14px;
  left: 14px;
}

header .menu_profile:hover {
  background: #009882;
  transition: all 0.1s ease-out;

}

header .menu_profile:hover .fa-face-meh {
  color: #E9E9E9;
  transition: all 0.1s ease-out;

}

header .menu .menu_button li:nth-child(3) {
  display: none;
}

/* 메인 */
/* section01 */

.section01 {
  display: flex;
  width: 100%;
  padding: 170px 10px 200px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}

.section01 .journet_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.section01 .weather {
  color: #009882;
}

.section01 .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section01 .title h2 {
  font-size: 50px;
  font-weight: 600;
  word-break: keep-all;
}

.section01 .title p {
  font-size: 25px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.45px;
  word-break: keep-all;
}

.section01 .title span {
  color: #009882;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.45px;
}

.section01 .search {
  display: flex;
  width: 923px;
  padding: 30px 45px;
  justify-content: space-between;
  align-items: center;
  border-radius: 90px;
  background: #F6F6F6;
  box-shadow: 15px 5px 20px 0px #F1F1F1, -17px -11px 11.3px 0px #FFF inset, 8px 4px 20px 0px rgba(0, 0, 0, 0.10) inset;
  position: relative;
}

.section01 .search:active {
  border-radius: 90px;
  background: #F6F6F6;
  box-shadow: 14px 25px 35px 0px rgba(0, 0, 0, 0.10), -5px -10px 11.9px 0px #FFF;
}


.section01 .search form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section01 .search div {
  display: flex;
  gap: 8px;
}

.section01 .search i {
  align-items: center;
  display: flex;
}

.section01 .search input {
  width: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.36px;
  border: none;
  background: transparent;

}

.section01 .search input:focus {
  outline: none;
}

.section01 .search button {
  background: url(/Journet/Journet-Web/Home/img/검색이동.svg);
  border: none;
  width: 34px;
  height: 34px;
  display: flex;
  overflow: hidden;
  text-indent: -9000px;
}



/* section02 */

.section02 {
  display: flex;
  padding: 50px 0px 100px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  align-self: stretch;
}

.section02 h3 {
  color: #969696;
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
  /* 45px */
  letter-spacing: -0.54px;
}

.section02 .map_view {
  width: 100%;
  height: 840px;
  z-index: 1;

}

#map {
  display: block;
  width: inherit;
  height: inherit;
  position: relative;
  border-radius: 30px;
}

/* 커스텀 인포윈도우 전용 오버레이 디자인 코드 */
.wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  height: 132px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
  line-height: 1.5;
}

.wrap * {
  padding: 0;
  margin: 0;
}

.wrap .info {
  width: 286px;
  height: 120px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}

.wrap .info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

.info .title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}

.info .body {
  position: relative;
  overflow: hidden;
}

.info .desc {
  position: relative;
  margin: 13px 0 0 90px;
  height: 75px;
}

.desc .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
}

.info .img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
}

.info:after {
  content: '';
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

/* section03 */
.section03 {
  display: flex;
  width: 100%;
  padding: 100px 0px 200px 0px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.section03 .title {
  width: 100%;
  padding: 0 17.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.section03 .title p {
  color: #9D9D9D;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.36px;
}

.section03 .inner, .section04 .inner {
  width: 100%;
  max-width: 1920px;
  min-width: 1500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.section03 .maincontent {
  display: flex;
  width: 100%;
  height: 800px;
  overflow: visible;
}

.section03 .swiper-slide {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: 650px;
  opacity: 20%;
}

.section03 .sec03_card {
  background: url(/Journet/Journet-Web/Home/img/sec03_card.png) no-repeat;
  background-size: cover;
}
.section03 .sec03_card2 {
  background: url(/Journet/Journet-Web/Home/img/sec03_card2.png) no-repeat;
  background-size: cover;
}
.section03 .sec03_card3 {
  background: url(/Journet/Journet-Web/Home/img/sec03_card3.png) no-repeat;
  background-size: cover;
}
.section03 .sec03_card4 {
  background: url(/Journet/Journet-Web/Home/img/sec03_card4.png) no-repeat;
  background-size: cover;
}
.section03 .sec03_card5 {
  background: url(/Journet/Journet-Web/Home/img/sec03_card5.png) no-repeat;
  background-size: cover;
}
.section03 .swiper-slide-active {
  background-blend-mode: darken;
  opacity: 100%;
}
.section03 .textbox {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 50px 65px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

.section03 .textbox .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.section03 .textbox .top div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.section03 .textbox .top h3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 42px */
  letter-spacing: -0.504px;
}

.section03 .textbox .top span {
  color: #DFDFDF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.324px;
}

.section03 .textbox .top p {
  color: #E8E8E8;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.36px;
}

.section03 .textbox .top .date {
  display: flex;
  gap: 20px;
}

.section03 .textbox .bottom {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.section03 .swiper-pagination {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  left: 50%;
  transform: translateX(-90%);
  background: #E9E9E9;
  padding: 23px 24px;
  border-radius: 30px;
  gap: 20px;
}

.section03 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  background: #91939F;
  opacity: 1;
  gap: 20px;
}

.section03 .swiper-pagination-bullet-active {
  width: 57.143px;
  height: 10px;
  transition: width .5s;
  border-radius: 15px;
  background: #212229;
  border: 1px solid transparent;
}

.section03 .button {
  display: flex;
  padding: 16px 25px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
  background: #E9E9E9;
  position: absolute;
  transform: translateX(60px);
  left: 50%;
  bottom: 8px;
}

.section03 .button a {
  color: #212229;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.288px;
}

.section03 .button:hover {
  background: #212229;
}

.section03 .button:hover a, .section03 .button:hover i {
  color: #E9E9E9;
}


/* section04 */

.section04 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 100px;
}

.section04 .title {
  display: flex;
  width: 100%;
  padding: 0 17.5%;
  align-items: center;
  gap: 20px;
}

.section04 .maincontent {
  width: 100%;
  height: 100%;
  overflow: visible;
  padding: 0 17.5%;
}

/* 이미지 없는 기본 슬라이드 */

.section04 .maincontent .swiper-slide {
  border-radius: 40px;
  background: #E9E9E9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: auto;
  flex-shrink: 0;
}

.section04 .maincontent .swiper-slide .textbox {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 110px;
  width: 100%;
}

.section04 .maincontent .swiper-slide .textbox .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}

.section04 .maincontent .swiper-slide .textbox .icon_name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section04 .maincontent .swiper-slide .textbox .top span {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 22.5px */
  letter-spacing: -0.27px;
}

.section04 .maincontent .swiper-slide .textbox .top h3 {
  font-size: 35px;
  font-style: normal;
  width: 288px;
  font-weight: 500;
  line-height: 150%;
  /* 52.5px */
  letter-spacing: -0.63px;
}

.section04 .maincontent .swiper-slide .textbox .top .date {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 22.5px */
  letter-spacing: -0.27px;
}

.section04 .maincontent .swiper-slide .textbox .bottom {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 22.5px */
  letter-spacing: -0.27px;
  width: 386px;
  align-items: center;
}

.section04 .maincontent .swiper-slide .textbox .bottom div:first-child {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* 이미지 있는 슬라이드 */
.section04 .maincontent .swiper-slide.bg_img .textbox {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 400px;
}

.section04 .maincontent .swiper-slide.bg_img .icon_name, .section04 .maincontent .swiper-slide.bg_img h3 {
  color: #FFFFFF;
}

.section04 .maincontent .swiper-slide.bg_img .date {
  color: #F1F1F1;
}

.section04 .maincontent .swiper-slide.bg_img .bottom {
  color: #F8F8F8;
}


/* 이미지 있는 슬라이드 배경 */

.section04 .sec04_card.bg_img {
  background: linear-gradient(0deg, rgba(35, 35, 35, 0.50) 0%, rgba(35, 35, 35, 0.50) 100%), url(/Journet/Journet-Web/Home/img/sec04_card.png) lightgray 50% / cover no-repeat;
}

.section04 .sec04_card2.bg_img {
  background: linear-gradient(0deg, rgba(35, 35, 35, 0.50) 0%, rgba(35, 35, 35, 0.50) 100%), url(/Journet/Journet-Web/Home/img/sec04_card2.png) lightgray 50% / cover no-repeat;
}

.section04 .sec04_card5.bg_img {
  border-radius: 40px;
  background: linear-gradient(0deg, rgba(35, 35, 35, 0.50) 0%, rgba(35, 35, 35, 0.50) 100%), url(/Journet/Journet-Web/Home/img/sec04_card5.png) lightgray 50% / cover no-repeat;
}


.section04 .button {
  display: flex;
  padding: 16px 25px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
  background: #E9E9E9;
  position: relative;
}

.section04 .button a {
  color: #212229;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.288px;
}

.section04 .button:hover {
  background: #212229;
}

.section04 .button:hover a, .section04 .button:hover i {
  color: #E9E9E9;
}




/* 푸터 */

footer {
  display: flex;
  padding: 170px 0px 96px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  align-self: stretch;
  color: #969696;
}

footer .social {
  display: flex;
  gap: 100px;

}

footer .social a i:hover {
  color: #212229;
}

footer .notice a:hover {
  font-weight: 700;
  color: #212229;
}

footer .notice {
  display: flex;
  gap: 100px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.36px;

}

footer .notice a {
  display: flex;
  position: relative;
  width: 160px;
  justify-content: center;
  align-items: center;
}


footer .notice a::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 25px;
  background: #C4C4C4;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
}

footer .notice a:last-child::after {
  display: none;
}