@charset "UTF-8";

body {
  min-width: 320px;
}

/* 헤더 */

header {
  width: 100%;
  height: 70px;
  padding: 0px 20px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  width: auto;
}

header .menu {
  width: auto;
  gap: 20px;
}

header .menu .story,
header .menu .guide {
  display: none;
}

header .menu_button {
  gap: 20px;
}

header .menu_profile {
  display: none;
}

header .menu .menu_button li:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}



/* 메인 */

.section01 {
  gap: 70px;
  width: 100%;
}

.section01 .journet_main {
  /* padding: 0px 35px; */
  align-items: flex-start;
  gap: 25px;
}

.section01 .title {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 5px;
  padding: 0;
  color: blue;
}

.section01 .title h2 {
  width: 100%;
  text-align: left;
  gap: 10px;
  font-size: 27px;
  font-style: normal;
  letter-spacing: -0.486px;
  gap: 10px;

}

.section01 .title p {
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  letter-spacing: -0.216px;
}

.section01 .title span {
  font-size: 12px;
  font-style: normal;
  letter-spacing: -0.216px;
}

.section01 .search {
  display: flex;
  width: 100%;
  height: 55px;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.section01 .search form {
  width: 100%;
}


.section01 .search input {
  width: 100%;
  font-size: 17px;
}


.section01 .search button {
  background: url(/Journet/Journet-Web/Home/img/검색이동.svg) 50% / cover;
  width: 26px;
  height: 26px;

}

.section02 h3 {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.324px;
}


.section03 .title h2 {
  font-size: 27px;
  font-style: normal;
  letter-spacing: -0.486px;
}

.section03 .title p {
  font-size: 15px;
  letter-spacing: -0.27px;
}

.section03 .maincontent {
  padding: 0px 8.5% 100px 8.5%;
  height: 600px;
}
.section03 .swiper-slide {
  height: 460px;
}
.section03 .textbox {
  padding: 11% 10%;
}
.section03 .swiper-pagination {
  display: flex;
  padding: 15px 18px;
  align-items: flex-start;
  gap: 15px;
  transform: translateX(-80%);
}

.section03 .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  gap: 15px;
}

.section03 .swiper-pagination-bullet-active {
  width: 36.9px;
  height: 9px;
}

.section03 .button {
  display: flex;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.section03 .button a {
  font-size: 13px;
  letter-spacing: -0.234px;
}



.section04 {
  padding: 10px 8.5% 0px 8.5%;
  gap: 50px;
}
.section04 .title {
  padding: 0;
}

.section04 .maincontent {
  padding: 0
}



.section04 .title {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  color: blue;
}

.section04 .title h2 {
  font-size: 28px;
  font-style: normal;
  letter-spacing: -0.504px;
}

footer {
  padding: 150px 0px 50px 0px;
}

footer .social {
  gap: 45px;
}

footer .fa-instagram {
  font-size: 25px;
}

footer .fa-facebook-f {
  font-size: 25px;
}

footer .fa-comment {
  font-size: 25px;
}

footer .notice {
  width: 100%;
  gap: 13px;
  color: #969696;
  font-size: 13px;
  font-style: normal;
  letter-spacing: -0.234px;
}

footer .notice a::after {
  right: -16px;
  width: 2px;
  height: 15px;

}